@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
textarea {
    font-size: small;
    height: 200px;
    overflow: auto;
    font-family: Courier New;
    background: rgba(0, 0, 0, 0.8) !important;
    color: rgba(255, 255, 255, 0.8) !important;
}

[data-dojo-attach-point="visibility-layer-id"] {
    display: inline;
    width: 50%;
}

[data-dojo-attach-point="filtered-layer-id"] {
    display: inline;
    width: 50%;
}

[data-dojo-attach-point="layer-filter-field"] {
    display: inline;
    width: 20%;
}

[data-dojo-attach-point="layer-filter-operator"] {
    display: inline;
    width: 90px;
}

[data-dojo-attach-point="layer-filter-value"] {
    display: inline;
    width: 20%;
}

.flex {
    display: flex;
}

[data-dojo-attach-point="custom-css-content"] {
    margin-top: 15px;
    margin-bottom: 15px;
}

[data-dojo-attach-point="add-header-content"] {
    display: block;
    margin: 15px auto;
}

[data-dojo-attach-point="layer-filter-condition"] {
    width: 100px;
    display: inline;
}

[data-dojo-attach-point="filter-layer-on-layer-visibility-change"] .form-control {
    margin: 5px !important;
}

[data-dojo-attach-point="filter-layer-on-layer-visibility-change"] .form-select {
    margin: 5px !important;
}

.list-group-item:hover {
    cursor: pointer;
    color: white;
    background-color: dodgerblue;
}

.setting-maximize {
    position: fixed;
    top: 0;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    z-index: 999;
}

.setting-maximize .setting-header {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
}

.setting-maximize .padmarg-adjust {
    padding: 20px;
    padding-top: 65px;
}

[data-dojo-attach-point="wmts-list"] ul {
    padding: 0px;
}

[data-dojo-attach-point="wmts-list"] li {
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
    list-style-type: none;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

[data-dojo-attach-point="wmts-list"] li i {
    cursor: pointer;
    color: #ea4335;
    float: right;
}